.lo{
    margin-top: 0px;
}
.login_register{
    margin: 0;
    height: 25px;
    line-height: 25px;
    width: 960px;
}
.login_register span{
    float:right;
}
#header{
    margin-top: 2px;
}
#nav{
    width: 940px;
    height:42px;
    margin:0 auto;
    overflow: hidden;
}
#nav ul{
    margin: 0px;
    padding: 0px;
}
#nav ul li{
    margin:0px;
    padding:2px;
}


.search_styles{
    margin-top: 7px;
    height: 20px;
    width: 80%;
}
.submit_styles{
    width: 15px;
    height: 15px;
}
#f_link{
    width: 960px;
}
.footer{
    display: block;
    float: none;
    margin: 10px auto 0;
    width: 940px;
    height:100px;
    overflow: hidden;
}
.sub_title{
    padding: 0px 0px 0px 16px;
    line-height: 32px;
    height: 32px;
    margin: 0px;
}
.topic{
    margin: 10px 10px 16px 10px;
    line-height: 20px;
    overflow: hidden;
}
.topicimg{
    float: left;
    margin: 0 10px 0 0;
    padding: 2px;
    width: 148px;
    height: 100px;
}
.under_topic{
    margin: 10px;
    padding: 0;
    list-style: none;
}
.under_topiclispan{
    float: right;
}
.more{
    float: right;
}
#link{
    overflow: hidden;
    margin: 10px;
}
#link ul{
    margin:0px;
    padding:0px;
}
#link ul li{
    width:15%;
    float: left;
    height: 25px;
    overflow: hidden;
    line-height: 25px;
    text-align: left;
}
#botton{
    width:940px;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}
#video_content{
    overflow: hidden;
    padding: 0px;
    width: 960px;

}
#videos{
    margin-left: 0;
}
.video_contentulli{
    width: 25%;
    margin-bottom: 20px;
    float: left;
    height: 146px;
    margin-left: 0px;
}
.jvideo{
    height: 102px;
    width: 90%;
}
#pages{
    margin: 0px;
}
#pages .page{
    display: inline-block;
    height: 23px;
    line-height: 23px;
    margin-right: 5px;
    margin-top: 0px;
    text-decoration: none;
    padding: 0px 9px;
}
#video_content_title{
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    width: 940px;
}
.video_content_titlespan{
    height: 32px;
}
.vjs-text-track-display {
    margin: 0;
}
.vjs-control-bar {
    margin: 0;
}
.vjs-volume-level {
    margin: 0;
}
.vjs-remaining-time-display{
}
.vjs-menu-button-popup{
    display: none;
}
#video_rq{
    margin-left: 0;
}
.sort_box{
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
    border: 1px solid #D4D4D4;
    background-color: #FFF;
    width: 940px;
}
.item{
    display: inline-block;
    margin: 3px 0;
    padding: 0 10px;
    line-height: 25px;
    font-weight: bold;
    vertical-align: middle;
    color: black;
    text-decoration: none;

}
.item:hover{
    color:#f02d1b;
}
.item2{
    display: inline-block;
    margin: 3px 0;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    vertical-align: middle;
    color: #f02d1b;
    text-decoration: none;
}

.st_num{
    font-style: normal;
    font-weight: normal;
    color: #999;
}
.sort_box span{

    float: left;
    margin: 3px 10px 0 0;
    color: #000;
    font-size: 18px;
}
.sort_box span:before{
    content: '\273D';
}
.tongji{
    height: 35px;
    line-height: 35px;
    text-indent: 14px;
    color: #222;
    border: 1px solid #D4D4D4;
    margin-left: 0;
}
.tongji a{
    color: #333;
    text-decoration: none;
}
.tongji a:hover{
    text-decoration: underline;
    color:#f02d1b;
}

.con_list{
    border: 1px solid #D4D4D4;
    border-top: 0;
    margin: 0;
    padding: 0;

}
.con_list2{
    border: 1px solid #D4D4D4;
    margin: 10px 5px 10px 10px;
    padding: 0;
    height: 800px;
}
.news_list{
    margin: 0 9px;
    padding: 20px 9px 7px 9px;
    border-bottom: 1px dotted #D4D4D4;
    list-style: none;
}
.news_listli{
    height: 50px;
    line-height: 25px;
    color: #777;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    line-height: 25px;
    border-bottom: 1px dashed #D4D4D4;
    margin-left: 0;
}
.hd,.ft{
    height: 25px;
}
.hdem{
    font-size: 14px;
    font-weight: bold;
    color: #e43d03;
    float: left;
    font-style: normal;
}
.hda{
    float: left;
    color: #444;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.hda:hover{
    color: #777777;
    text-decoration: underline;
}
.ftspan{
    margin-right: 10px;
    color: #999;
    float: left;
}
.ft small{
    font-size: 11px;
    color: #999;
    float: right;
}
.hd{
    margin-left: 0;
}
.ft{
    margin-left: 0;
    margin-top: 4px;
}
#bbspage{
    margin: 25px 0 0 0;
    padding-bottom: 0;
    height: 50px;
    border-bottom: none;
}
.ce_tou{
    height: 31px;
    line-height: 31px;
    margin-top: 0;
    border: 1px solid #D4D4D4;
    border-bottom: 0;
    margin-left: 0;
    background: url("../images/65f08ec8d7a4dcdc84d6d01e3ecbf353.webp") no-repeat;
}
.ce_tou h5{
    display: block;
    text-indent: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #1073a6;
    line-height: 30px;
}
.ce_content{
    padding: 14px 10px 1px 10px;
    overflow: hidden;
    margin-bottom: 7px;
    border: 1px solid #D4D4D4;
    display: block;

}
.ce_content li{
    color: #000;
    list-style: none;
    margin-bottom: 12px;
    height: 15px;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0;
}
.ce_content li em{
    width: 15px;
    height: 15px;
    line-height: 15px;

    text-align: center;
    display: inline-block;
    margin-right: 5px;
    color: white;
    font-style: normal;
    color: #333333;
}
.ul1liem{
    background: #83af9b;
}
.ul2liem{
    background: #c8c8a9
}
.ul3liem{
    background: #fc9d9a;
}
.ce_content a{
    text-decoration: none;
}
.ce_content a:hover{
    text-decoration: underline;
    color: #777
}
.strong{
    margin-left: 3px;
    font-weight: normal;
    color: #777;
}
#search_box_rq{
    border: 1px solid #a9c2e2;
    width: 938px;
}

#search_box{
    height: 35px;
    background-color: white;
}
.span2{
    float: right;
    margin-right: 2px;
}
.span1{
    margin-left: 3px;
    height: 35px;
}
.bbsbtn0{
    background: url("../images/1dd479f204a6da2557ad01000321c8c21.webp") no-repeat;
    height: 37px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.bbsbtn{
    background: url("../images/1dd479f204a6da2557ad01000321c8c22.webp") no-repeat;
    height: 37px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.con_box{
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}
.line{
    margin-top: 14px;
    overflow: hidden;
}
.line label{
    display: inline-block;
    float: left;
    width: 130px;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    text-align: right;
    font-weight: bold;
}
.form-control{
    height: 34px;
    padding: 1px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}
.news_inp{
    float: left;
    width: 300px;
    height: 30px;
    line-height: 30px;
}
#area{
    margin-left: 75px;
}
.aa{
    margin-right: 0;
}
.submit_btn_box{
    margin-top: 40px;
    overflow: hidden;
    width: 122px;
    height: 28px;
    margin-left: 75px;
    margin-bottom: 50px;
}
.form_submit_btn{
    border: none;
    cursor: pointer;
    background:url("../images/215ad621ff21e2b8b429f10f3a3a6e6d.webp") no-repeat ;
    width: 122px;
    height: 28px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 200;
}
.input_errormsg{
    margin-left: 10px;
    color: red;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    display: none;
}
.big_table{
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
}
.bottom_left{
    width: 160px;
    background: #e3e3e5;
    padding: 0;
    height: 4px;
    overflow: hidden;
    border-right: 1px solid #e3e3e5;
}
.botton_right{
    background: #e3e3e5;
    padding: 0;
    overflow: hidden;
}
.td1{
    width: 160px;
    background: #fafafa;
    overflow: hidden;
    border-right: 1px solid #e3e3e5;
}
.td1_big_div{
    width: 160px;

}
.td1_big_div_head{
    overflow: hidden;
    padding: 10px 0 10px 0;
    height: 16px;
    border-bottom: 1px dashed #CDCDCD;
}
 .id_nich{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.img_rq{
    margin: 10px 0;
}
.td2{
    padding: 0 20px;
    vertical-align: top;
}
.pbtime{
    margin-bottom: 10px;
    padding: 10px 0;
    height: 16px;
    border-bottom: 1px dashed #CDCDCD;
}
.pbtimeem{
    font-style: normal;
}
.plnr{
    min-height: 100px;
}
.ck{
    text-align: center;
    margin-left: 0;
    margin-top: 1px;
}
.pbtimeimg{
    vertical-align: middle;
}
.space{
    width: 160px;
    background: #fafafa;
    overflow: hidden;
    border-right: 1px solid #e3e3e5;
}
.hl{
    padding: 0px 20px;
    vertical-align: top;
}
.hl_div{
    border-top: 1px dashed #CDCDCD;
    line-height: 36px;
}
.hl_divem{
    font-style: normal;
    float: left;
}
.hl_divema{
    text-decoration: none;
    color: black;
}
.hl_divema:hover{
    color: #3b7ae3;
}
.lou{
    float: right;
    margin-bottom: 0;
}

.hfbox{
    margin: 0 10px 0 0;
    background-color: white;
    float: left;
    width: 740px;
}
#abc{
    margin-left: 30px;
    min-height: 300px;
    margin-right: 10px;

}
.hfbtnbox{
    margin-top: 40px;
    overflow: hidden;
    width: 122px;
    height: 28px;
    margin-bottom: 50px;
    margin-left:30px;
}
.field{
    border: 1px solid #999999;
}
.title_left{
    background-color: #fafafa;
    width: 170px;
    height: 30px;
    float: left;
    margin: 0;
    border-right: 1px solid #e3e3e5;
    color: #999;
    font-size: 14px;
    text-align: center;
}
.title em{
    color: indianred;
    font-style: normal;
    font-size: 14px;
}
.title{
    width: 960px;
    height: 30px;
    padding-top: 15px;
    margin: 0 0 0 10px;
    background-color: white;
    border-bottom: 3px solid #e3e3e5;
}
.tz_title{
    font-size: 17px;
    font-weight: 700;
    padding-left: 27px;
}
.table_box{
    width: 960px;
    margin-top: 0px;
}
.add{
    background-color: #fafafa;
    border-right: 1px solid #e3e3e5;
    height: 459px;
    float: left;
    margin-left: 10px;
}
.borderstyle{
    box-shadow: 10px 10px 5px #888888;
    background-color: white;
}
.try{
    background-color:  #fafafa;;
}
.tianchong{

    height: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.tznum{
    width: 150px;
    text-align: center;
}
.stars{
    margin: 0;
}

.dd{
    height: 35px;
    line-height: 35px;
    text-indent: 14px;
    color: rgb(102, 102, 102);
    border: 1px solid #D4D4D4;
    margin-left: 0;
    background-color: rgb(169, 194, 226);
    background-image: url("../images/ss.webp");

}
#a{
    margin: 0;
}
.anli_list{
    border-left: 1px solid #a9c2e2;
    border-right: 1px solid #a9c2e2;
    border-top: 0;
    margin: 0;
    padding: 0;
    line-height: 23px;
}
.dl{
    border-bottom: 1px #a9c2e2 dashed;
    width: 100%;
    padding: 10px 0;
    display: block;
    margin-bottom: 0;
}
.dt{
    font-weight: 700;
    font-size: 16px;
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
;
}
.dldta{
    color: #990000;
    text-decoration: none;
}
.dldta:hover{
    color: #0066CC;
}
.ddd{
    padding-left: 15px;
}
.taga:hover{
    color: #0066CC;
}
.tag{
    height: 20px;
    padding: 0 10px 0 25px;
    font-size: 12px;
    color: #999;
}
.tagspan{
    float: right;
    margin-left: 10px;
    position: relative;
    margin-right: 5px;
}
.taga{
    text-decoration: none;
}
.tag,.taga{
    color: #999;
}
.anli_content{
    margin: 5px 5px 5px 15px;
    line-height: 23px;
    height: 69px;
}
.change_border{
    border: 1px solid #a9c2e2;
}
.cchange_border{
    border-bottom: 1px solid #a9c2e2;
    border-left: 1px solid #a9c2e2;
    border-right: 1px solid #a9c2e2;
    border-top: 0;
}
.tagspanem{
    font-style: normal;
    color: #c24f4a;
    font-weight: 900;
}
.p_anli_c{
    background-color: white;
    border-left: 1px solid #a9c2e2;
    border-right: 1px solid #a9c2e2;
    border-top: 0;
    border-bottom: 1px solid #a9c2e2;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 10px 10px 15px;
}
.p_anli_c_1{
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #D4D4D4;
}
.p_anli_c_2{
    margin-left: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
}
.bshare-custom{
    margin-left: 0;
}
.person_attr_modify{
    display: block;
    height: 22px;
    line-height: 22px;
    background: #ececec;
    color: #666;
    font-size: 12px;
    padding: 0px 10px;
    cursor: pointer;
    position: absolute;
    right: 114px;
    top: 23px;
}
.icon_plus{
    color: #e96f5d;
    font-style: normal;
}
.icon_plus:before{
    content: "\271A	";
}
#cans{
    position: relative;
    margin: 0 0 0 10px;
    height: 500px;
    width: 960px;
    margin-left: 10px
}
#video{
    float: left;
    background: black;
    position: relative;
    z-index: 99;
}

aside{
    background: black;
    opacity: 0.9;
    position: relative;
    right: 20px;
}
aside header h4{
    color: white;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}
aside ul{
    background: black;
    list-style: none;
    text-align: center;
}
.video_li{
    color: white;
    font-size: 14px;
    line-height: 30px;
    margin-left: 0;
}

.video_li:hover{
    cursor: pointer;
    background-color: lightgray;
    color: #3f81b0;
    font-weight: bold;
}

aside #videolist_hidden {
    position: absolute;
    bottom: 250px;
    right: 0;
    width:20px ;
    height: 32px;
    background: lightgoldenrodyellow;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    opacity: 0.5;
    z-index: 10000;
}

#cans #videolist_show{
    margin-top: 230px;
    width:20px ;
    height: 32px;
    background:lightgoldenrodyellow;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    opacity: 1;
    visibility: hidden;
}

#cans #videolist_show:hover,aside #videolist_hidden:hover{
    opacity: 0.7;
}
.select{
    color: lightcoral;
}